.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
}

.pagination .btn-primary {
  background: linear-gradient(to right, #5f4949 0%, #713838 30%);
  border-color: #713838;
  color: white;
}

.pagination .btn-secondary {
  background-color: #f8f9fa;
  border-color: #ced4da;
  color: #495057;
}

.pagination .btn-secondary:disabled {
  background-color: #e9ecef;
  border-color: #dee2e6;
  color: #6c757d;
}

.pagination .dots {
  margin: 0 5px;
  font-size: 18px;
  color: #6c757d;
}
.favorite-icon {
  margin-left: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.favorite-icon:hover {
  transform: scale(1.2);
  color: #ffc107; /* Brighter gold on hover */
}
.favorite-container {
  display: flex;
  justify-content: space-between;
}
