.accordion-button:not(.collapsed) {
  background-color: white;
  font-weight: bold;
  font-size: 24px;
  color: #713838 !important;
}
.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
  z-index: 3;
}
.custom-link {
  color: #713838;
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: underline;
}
